@import './src/app/shared/styles/mixins';
@import './src/app/shared/styles/variables';

header {
  @include prefix(box-shadow, 1px 3px 5px #888888, moz o webkit);
  height: 50px;
  background: $primary-color;
}
