/* Flex */
.flex {
  display: flex;

  &.align-start {
    align-items: start;
  }

  &.align-center {
    align-items: center;
  }

  &.align-end {
    align-items: end;
  }

  &.justify-space {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-column {
    flex-direction: column;
  }
}

/* Margin */
@for $size from 0 through 10 {
  .margin-#{$size} {
    margin: #{$size}px;
  }
  .margin-l-#{$size} {
    margin-left: #{$size}px;
  }
  .margin-r-#{$size} {
    margin-right: #{$size}px;
  }
  .margin-t-#{$size} {
    margin-top: #{$size}px;
  }
  .margin-b-#{$size} {
    margin-bottom: #{$size}px;
  }

  @if $size > 2 {
    .margin-#{$size * 5} {
      margin: #{$size * 5}px;
    }
    .margin-l-#{$size * 5} {
      margin-left: #{$size * 5}px;
    }
    .margin-r-#{$size * 5} {
      margin-right: #{$size * 5}px;
    }
    .margin-t-#{$size * 5} {
      margin-top: #{$size * 5}px;
    }
    .margin-b-#{$size * 5} {
      margin-bottom: #{$size * 5}px;
    }
  }
}

/* Text Align */
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
