/* Screen sizes */
$sm-screen: 550px;
$md-screen: 800px;

/* Colors */
$primary-color: #70b2bb;
$white-color: #ffffff;
$border-color: #858585;
$black-color: #272727;
$error-color: #a5190e;

/* Font */
$font-family: Helvetica, Arial, sans-serif;
