@import './src/app/shared/styles/variables';

.event-detail {

  .event-container {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $border-color;
    padding: 15px;
  }

  app-cart {
    width: 100%;
  }


  @media (min-width: $sm-screen) {
    .event-container {
      margin-right: 20px;
      width: calc(50% - 20px);
    }

    app-cart {
      width: 50%;
    }
  }
}

