<div class="text-right margin-r-10 margin-b-10">
  <a [routerLink]="['/']">Volver</a>
</div>
<section *ngIf="!!eventInfo; else notFound" class="event-detail flex flex-wrap">
  <div class="event-container">
    <h2>{{eventInfo.event.title}}</h2>
    <div *ngFor="let session of eventInfo.sessions; let i = index" class="flex align-center justify-space">
      <p class="margin-r-20">Fecha: {{ session.date | date: constants.FORMAT_DATE }}, Disponibilidad: {{session.availability}}</p>
      <div>
        <a class="margin-r-5" (click)="decreaseCount( session.date )">-</a>
        <span>{{ cartService.getSessionData( eventInfo.event.id, session.date ).purchased }}</span>
        <a class="margin-l-5" (click)="increaseCount( session.date, session.availability )">+</a>
      </div>
    </div>
  </div>
  <app-cart [currentEventId]="eventInfo.event.id"></app-cart>
</section>
<ng-template #notFound>
  EVENT INFO NOT FOUND
</ng-template>
