@import './src/app/shared/styles/variables';

.card {
  margin: 10px;

  .card-container {
    border: 1px solid $border-color;

    .card-header {
      cursor: pointer;

      & > *:not(img) {
        padding: 0 10px;
      }
    }

    .card-info {
      padding: 0 10px;
      font-size: 14px;
    }

    .card-description {
      display: none;
    }
  }


  @media (min-width: $sm-screen) {

    .card-container {

      .card-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
