<section class="card">
  <div class="card-container">
    <div class="card-header"
         [routerLink]="['/event-detail', eventData.id]">
      <h1>{{eventData.title}}</h1>
      <h2>{{eventData.subtitle}}</h2>
      <img width="100%" [src]="eventData.image" [alt]="eventData.title"/>
    </div>
    <div class="card-info">
      <p>{{ eventData.place }}</p>
      <p>{{ eventData.startDate | date: constants.FORMAT_DATE }}
        - {{ eventData.endDate | date: constants.FORMAT_DATE}}</p>
      <p class="card-description" [innerHTML]="eventData.description"></p>
    </div>
  </div>
  <button class="btn" [routerLink]="['/event-detail', eventData.id]">Comprar</button>
</section>
