<section class="cart flex flex-column">
  <div *ngFor="let cart of cartData | keyvalue"
       [className]="currentEventId === cart.key ? 'first-item' : 'last-item'">
      <div *ngIf="cartService.getTotalPurchased( cart.key )">
        <p>{{eventsService.getEventNameById( cart.key )}}</p>
        <div *ngFor="let session of cart.value">
          <div *ngIf="session && session.purchased > 0"
               class="cart-session flex align-center justify-space">
            <span>{{ session.date | date: constants.FORMAT_DATE }}</span>
            <div>
              <span class="margin-r-10">x{{session.purchased}}</span>
              <a (click)="cartService.removeSession( cart.key, session.date )">
                <img height="15px" src="/assets/img/trash.png"/>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
