@import './src/app/shared/styles/variables';
@import './src/app/shared/styles/mixins';
@import './src/app/shared/styles/utils';

body {
  margin: 0;
  color: $black-color;
  font-family: $font-family;
}

h1, h2 {
  color: $primary-color;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 16px;
}

a {
  color: $primary-color;
  cursor: pointer;

  &:hover, &:focus {
    color: darken($primary-color, 30%);
  }
}

.btn {
  width: 100%;
  background-color: $primary-color;
  color: $white-color;
  border: none;
  padding: 10px;
  cursor: pointer;
}
